{% extends 'catalog/base.html' %}

{% block title %}Список сыров{% endblock %}

{% block content %}
    <h1>Каталог сыров</h1>

    {% if user.is_authenticated %}
        <p>
            Привет, {{ user.get_username }}!
            <form method="post" action="{% url 'logout' %}" style="display: inline;">
                {% csrf_token %}
                <button type="submit" style="background: none; border: none; color: blue; text-decoration: underline; cursor: pointer;">
                    Выйти
                </button>
            </form>
        </p>
    {% else %}
        <a href="{% url 'login' %}">Войти</a>
    {% endif %}

    <a href="{% url 'index' %}">Сбросить фильтры</a>

    {% if is_merchandiser or is_admin %}
        <a href="{% url 'cheese_add' %}">[+ Добавить новый сыр]</a>
    {% endif %}
    {% if is_sales_manager or is_admin %}
        <a href="{% url 'my_cart' %}">[Моя партия]</a>
    {% endif %}

    <!-- Форма фильтрации -->
    <form method="get" action="{% url 'index' %}">
        <fieldset>
            <legend>Поиск</legend>
            {{ form.as_p }}
            <button type="submit">Применить фильтр</button>
        </fieldset>
    </form>

    <!-- Список товаров -->
    {% if cheeses %}
        <ul>
            {% for cheese in cheeses %}
                <li>
                    <a href="{% url 'detail' cheese.pk %}">{{ cheese.name }}</a>
                    ({{ cheese.milk_type }}, {{ cheese.price }} ₽)
                    {% if is_merchandiser or is_admin %}
                        <a href="{% url 'cheese_edit' cheese.pk %}">[Редактировать]</a>
                        <a href="{% url 'cheese_delete' cheese.pk %}">[Удалить]</a>
                    {% endif %}
                    {% if is_sales_manager or is_admin %}
                        <a href="{% url 'add_to_cart' cheese.pk %}">[Добавить в партию]</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Нет сыров.</p>
    {% endif %}
{% endblock %}